*{
    margin: .5%;    
    padding: 0;
}
    

body{
   background-image: url("praia5.jpg");
   background-repeat: no-repeat;
   background-position: top;
   background-color: black;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;

}



.jack-fase3{
    display: flex;
    background-color: burlywood;
    font-size: 38px;
    width: 500px;
    height: 290px;
    border-radius: 15px;
    margin-top: 50px;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.payton-win{
    font-size: 18px;
    background-color: red;
    padding: 10px;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.enviar2{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    padding: 5px 15px;   
    background:white;
    color: black;
    font-size: 35px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    transition: .5s all;
    cursor: pointer;
    text-decoration: none;
}

.enviar2:hover{
    background:red;
    transform: scale(1.1);
}

input{
    all: unset;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    background-color: burlywood;
    width: 300px;
    height: 30px;
    border-radius: 15px;
    margin-bottom: -50px;
    font-weight: bold;
    color: rgb(52, 52, 109);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

input:hover{
    background:red;
    transform: scale(1.1);
}
    

