*{
    margin: 2%;    
    padding: 0;
}
    

body{
   background-image: url("giovanni-de-souza-frame7.jpg");
   background-repeat: no-repeat;
   background-position: top;
   background-color: black;

}