*{
    margin: 2%;    
    padding: 0;
}
    

body{
    display: flex;
    font-family: 'The Nautigal', cursive;
    font-size: 40px;
    background-image: url("Saloon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}



.sheriff-fase1{
    background-color: burlywood;
    font-size: 38px;
    width: 500px;
    height: 360px;
    border-radius: 15px;
    margin-top: 30px;
}

p{
    text-align: center;
    clear: left;
    color: rgb(52, 52, 109);
}


.escolha1{
    all: unset;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    background-color: burlywood;
    width: 300px;
    height: 30px;
    border-radius: 15px;
    margin-bottom: -50px;
    font-weight: bold;
    color: rgb(52, 52, 109);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.escolha1:hover{
    background:red;
    transform: scale(1.1);
}

p{
color: rgb(52, 52, 109);
}
